services:
  smartcv-dev:
    container_name: smartcv-dev
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    command: yarn dev
    environment:
      - NODE_ENV=development
